<div class="wrapper">
  <h1>Add new product</h1>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="name">name</label>
      <input type="text" id="name" formControlName="name">
    </p>
    <p>
      <label for="price">price</label>
      <input type="number" id="price" formControlName="price">
    </p>
    <p>
      <label for="description">description</label>
      <textarea type="text" id="description" formControlName="description"></textarea>
    </p>
    <p>
      <button class="button" type="submit" [disabled]="!productForm.valid">Save</button>
    </p>
  </form>
</div>
